.projects{
    position: relative;
    margin: auto;
    padding: 50px;
}

.projSection{
    height: calc(100vh - 160px); 
}

.progress{
    position: sticky;
    top: 80px;
    left: 0;
    text-align: center;
    font-size: 70px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to left, #BE93C5, #7BC6CC);
    z-index: 90;
    opacity: 0.97;
}

.progressBar{
    height: 10px;
    background-color: rgb(117, 72, 139);
}

.projSection .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.imgcontainer{
    flex: 1;
    height: 50%;
    object-fit: cover;
}

.imgcontainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* .textContainer h2{
    font-size: 45px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
} */

.textContainer p{
    font-size: 25px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.textContainer button{
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgb(117, 72, 139);
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}

.demo-button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.3s ease-in-out;
    z-index: -1;
}

.demo-button:hover::after{
    transform: scaleX(1);
}

.container .wrapper{
    max-width: 1366px;
    margin: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 150px;
}