.hero{
    height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
}

.wrapper{
    width: 80%;
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper-content{
    width: fit-content;
    margin-top: -90px;
}

.textContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0 2rem; */
    gap: 1rem;
}

.textContainer h1{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.textContainer h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75px;
}

.textContainer h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;

}

.imgContainer{
    position: relative;
    width: 50%;
    height: 100%;
    
}

.imgContainer img{
    width: 100%;
    height: auto;
    position: absolute;
    /* z-index: -1; */
    /* top: -80px; */
    right: -80px;
}

