.hero{
    height: calc(100vh - 80px);
    position: relative;
    overflow: hidden;
}

.wrapper{
    width: 80%;
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper-content{
    width: 50%;
}

.textContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 0 2rem; */
    /* gap: 1rem; */
}

.textContainer h1{
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.textContainer h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.75px;
}

.textContainer h3{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.75rem;
    font-weight: 400;

}

.resume{
    margin: 3rem 0;
    width: fit-content;
}
     
.resume a{
    padding: 1rem 2rem;
    border: 1px solid #000000;
    /* border-radius: 5px; */
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    position: relative;
}

.resume a:hover{
    color: #ffffff;
    /* background: #000000; */
    transition: all 0.8s ease-in-out;
}

.resume a::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: rgba(0,0,0,0.5);
    transform: scaleY(0);
    transform-origin: top;
    transition: all 0.3s ease-in-out;
}

.resume a:hover::after{
    transform: scaleY(1);
    /* transform-origin: right; */
}

.links-container{
    margin-bottom: -6rem;
    display: flex;
    gap: 20px;
}

.links-container a img{
    width: 2.65rem;
    height: 2.65rem;
    
}

.imgContainer{
    position: relative;
    width: 50%;
    height: 100%;
    
}

.imgContainer img{
    width: 100%;
    height: auto;
    position: absolute;
    /* z-index: -1; */
    /* top: -80px; */
    right: -80px;
}

