::-webkit-scrollbar{
  width: 0.5rem;

}

::-webkit-scrollbar-track{
  background: hsl(268, 61%, 71.95% );
}

::-webkit-scrollbar-thumb{
  /* background: hsl(266, 41%, 7%); */
  border: .25em solid hsl(267, 48%, 56%);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover{
  background: hsl(268, 42%, 20%);
}

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */

html {
  color-scheme: dark light;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

/* min body height */

body {
  min-height: 100vh;
  background: linear-gradient(to left, #BE93C5, #7BC6CC);
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

a {
    text-decoration: none;
    color: #000000;
}

section{
  /* height: 100vh; */
  scroll-snap-align: center;
  /* border-bottom: #000000 1px solid; */
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 101;
  height: 4px;
  background: hsl(267, 48%, 56%);
  transform-origin: 0%;
  border-radius: 100px;
}